.header {
    width: 100%;
    height: 40px;
    background-color: var(--bgColorHeader);

    .header__navigation {
        width: 100%;
        height: 100%;

        // @media screen and (max-width: 530px) {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: flex-end;
        // }
        // @media screen and (max-width: 330px) {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        // }
        .header__items {
            width: 100%;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            // position: relative;

            @media screen and (max-width: 580px) {
                justify-content: flex-end;
            }
            
            .header__item {
                margin-left: 10px;
                margin-right: 10px;
            }

            .header__menu-block {
                width: 300px;
                position: absolute;
                top: 40px;
                right: 0;
                height: 200px;
                background-color: var(--bgColorHeader);
                border: 1px solid rgba(128, 128, 128, 0.233);
                border-radius: 4px;
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            
                transition: linear 1s;
                @media screen and (max-width: 530px) {
                    width: 80%;                    
                }
                .header__button {
                    width: 100%;
                    margin-top: 3px;
                    text-align: center;
                
                }
            }
            .header__menu-container {
                min-width: 100px;
                width: 100px;
                height: 100%;
            
                margin-left: 10px;
                margin-right: 10px;
            
                transition: linear .3s;
                border-radius: 4px;
                box-shadow: var(--buttonShadow);
                .header__menu-name {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                    font-weight: 300;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
            .view {
                display: flex;
            }
        }
    }
}

// @media screen and (max-width: 330px) {
//     .header__navigation {
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-end;
//     }
// }


