.toast-block {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    .toast-block__message {

    }

    .toast-block__question {

        .toast-block__positive {

        }

        .toast-block__negative {

        }
    }
}
.view {
    
}